<section class="landing">
  <div class="container">
    <div class="landing-grid">
      <div class="landing-left">
        <h1 class="landing-title">Lleva tu frontend al siguiente nivel</h1>
        <p class="landing-subtitle">Un performance y escalabilidad ideales con Agular.</p>

        <div class="landing-actions">
          <button class="btn btn-primary btn-lg action-primary">Ver servicios</button>
          <button class="btn action-secondary">Contáctenos</button>
        </div>
      </div>

      <div class="landing-right">
        <div class="globe">
          <img src="/Logo.png" alt="Globe logo" />
        </div>
      </div>
    </div>

    <div class="landing-description">
      <hr class="divider" />
      <h3 class="desc-title">Descripcion</h3>
      <div class="desc-space">
        <p class="desc-text">TechService es una empresa dedicada a ofrecer soluciones tecnológicas modernas y escalables. Ante la necesidad de ampliar su cobertura digital, se ha propuesto el desarrollo de una aplicación web front-end que muestre su portafolio de servicios, permita a los usuarios interactuar con la oferta, y brinde a los administradores herramientas de gestión a través de un panel seguro.</p>
      </div>
    </div>
  </div>
</section>
